body {
    margin: 0;
}

header {
    background: lightgoldenrodyellow;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;

}

main {
    padding: 1rem;
}

h1 {
    margin: 0;
}